.menu {
  position: relative;
  background: #4855a0;
  height: 35px;
  box-shadow: 0 10px 11px #000;
  z-index: 200
}
#main {
  position: relative;
  background-image: url("../images/canoe.jpg");
  background-color: #ccc;
  height: 500px;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover
}
* {
  box-sizing: border-box;
  margin: 0
}
body {
  margin: 0;
  font-family: Arial;
  background: #fff
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: justify
}
.flex-item-left {
  margin: 3px;
  border: 1px solid #030000;
  padding: 10px;
  background-color: #fff;
  flex: 48%
}
.flex-item-right {
  margin: 3px;
  border: 1px solid #030000;
  padding: 10px;
  background-color: #fff;
  flex: 48%
}
h1 {
  text-align: center
}
.menu #paddle {
  height: 30px;
  float: right
}
.menu #burger {
  height: 30px;
  float: left
}
.img-container {
  height: 40px;
  float: left;
  width: 73.33%;
  padding: 5px
}
.img-container1 {
  height: 40px;
  float: left;
  width: 13.33%;
  padding: 5px
}
#menu h2 {
  text-align: center;
  color: #fff;
  font-size: 25px
}
#main_text {
  text-align: left;
  color: #100101;
  margin: 1px 20px 10px 20px
}
#main_text h3 {
  color: green;
  text-decoration: underline
}
#main h1 {
  text-align: center;
  color: #fff;
  font-size: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.dropdown {
  padding: 10px;
  position: relative;
  height: 250px;
  width: 180px;
  background-color: #4855a0;
  top: 30px;
  text-align: left;
  color: #100101;
  z-index: 10;
  display: none;
  box-shadow: 0 10px 11px #000
}
.dropdown a {
  color: #fff
}
.footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  background: #4855a0
}
@media (max-width:1200px) {
  #menu h2 {
    font-size: 20px
  }
  #main h1 {
    font-size: 70px
  }
}
@media (max-width:800px) {
  #menu h2 {
    font-size: 20px
  }
  #main h1 {
    font-size: 60px
  }
  #main_text {
    margin: 1px 20px 10px 20px
  }
  .flex-item-left,
  .flex-item-right {
    flex: 100%
  }
  p {
    font-size: 15px
  }
}